* {
  font-family: Myriad Pro;
}

body {
    margin:0;
    font-family:Aria;
    background-color:#F2F5F7;
    overflow-x:hidden;
  }

/* Add a black background color to the top navigation */
.topnav {
    background-color:rgb(255, 255, 255);
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav-centered a {
    float: none;
    position: absolute;
    top: 23px;
    left: 50%;
    transform: translate(-50%, -50%);
    color:rgb(205, 210, 216);
    text-decoration:none;
    font-size:30px;
  }
  
  /* Add an active class to highlight the current page */
  .active {
    color: white;
  }
  
  /* Dropdown container - needed to position the dropdown content */
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  /* Style the dropdown button to fit inside the topnav */
  .dropdown .dropbtn {
    font-size: 17px; 
    border: none;
    outline: none;
    color: rgb(165, 158, 158);
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  /* Style the dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: fixed;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Style the links inside the dropdown */
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  /* Add a dark background on topnav links and the dropdown button on hover */
 .dropdown:hover .dropbtn {
    background-color: rgb(194, 194, 194);
    color: white;
    border-radius: 2px;
  }
  
  /* Add a grey background to dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Show the dropdown menu when the user moves the mouse over the dropdown button */
  .dropdown:hover .dropdown-content {
    display: block;
  }

  .bar{
    float:none;
    top:25px;
     left: 25px;
  }

  input[type=text] {
    width: 150px;
    box-sizing: border-box;
    border: 2px solid white;
    border-radius: 20px;
    font-size: 16px;
    background-color: white;
    background-image: url('images/searchicon.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    outline:none;
    margin: 2px 18px 0px 20px;

  }

  /* -------menu button--------  */
   .menu-btn .btn {
    background-color: white;
    border: none;
    color: rgb(230, 232, 235);
    padding: 12px 16px;
    font-size: 30px;
    cursor: pointer;
    border-radius: 5px;
    outline: white;
    float: right;
    margin-top: -55px;
    margin-right: 1px;
  }

  .btn a:visited ,a:hover ,a:active ,a:link{
    text-decoration:none;
    color:rgb(121, 123, 124);
  }


/* Darker background on mouse over */
 .btn:hover {
    background-color: rgb(222, 223, 224)
 }

 .btn:active {
    background-color: white;
    box-shadow: 0 3px #666;
    transform: translatey(4px);
 }

 

.notification .badge:hover {
  background: rgb(204, 188, 188);
}

.notification .badge {
  position: absolute;
  top: 2px;
  right: 128px;
     padding: 2px 6px;
  border-radius: 50%;
  background-color: red;
  color: white;
}

.avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  float: right;
  margin-top: -48px;
  box-shadow: 4px 0px 16px -3px rgba(0,0,0,0.2);

}

 .notification .avatar:hover {
   background-color:rgb(59, 56, 56);
 } 





 /*------card_1-------*/
 .book_1{
   width:60%;
   height:45%;
   background-color:rgb(248, 123, 215);
 }

 .content_1  .hed_1 {
  color:white;
  text-align:center;
  position: absolute;
  top:20px;
  left:20px;
  right: 20px;

 }

 .content_1 .author_1 {
  color: white;
  text-align: center;
  position: absolute;
  top: 75px;
  left: -138px;
  right: 20px;
  font-size: 15px;
 }

 .star_1 {
   position:absolute;
  top: 101px;
  right: 25px;
  left: 55px;
 }

.star_1 .checked {
  color:rgb(199, 45, 159); ;
}

.star_1 .unchecked {
  color: white;;
}

 .content_1 .voters_1 {
  color: white;
  position: absolute;
  top: 103px;
  right: 145px;
  font-size: smaller;


}

.content_1 .para_1 {
  text-align: justify;
  position: absolute;
  top: 131px;
  right: 25px;
  left: 60px;
  color:white;
  font-size:16px;
}

  .book_1 .avatar_1 {
    width: 95%;
    height: 100%;
    box-shadow: 0 0px 0 rgba(0, 0, 0, 0.2), 0 6px 56px 0 rgba(0, 0, 0, 0.9);
    position: relative;
    top: 40px;
    left: -172px;
}

.button {
  background-color: white;
  border: none;
  color: rgb(248, 123, 215);
  padding: 15px 32px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  transition-duration: 0.3s;
  border-radius: 25px;
  position: absolute;
  top: 265px;
  right: 40px;
  left: 90px;
  width: 260px;
  outline:none;
  

}

.button:active {
  background-color: #f1f1f1;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.button:hover {
  box-shadow:0 5px 0 rgba(0,0,0,0.2), 0 6px 25px 0 rgba(0,0,0,0.19);
}

/*----------------- card_2 ----------*/

.book_2 .avatar_2 {
  width: 50%;
  height: 100%;
  box-shadow: 0 0px 0 rgba(0, 0, 0, 0.2), 0 6px 56px 0 rgba(0, 0, 0, 0.9);
  position: relative;
  top: 40px;
}


.book_2 {
  width:60%;
  height:45%;
  background-color:#EDB9D6;
}


.content_2  .hed_2 {
  color:white;
  text-align:center;
  position: absolute;
  top:20px;
  left: 143px;
  right: 20px;
  display:inline-block;
 }


 .content_2 .author_2 {
  color: white;
  text-align: center;
  position: absolute;
  top: 75px;
  left: -138px;
  right: 20px;
  font-size: 15px;
 }


 .star_2 {
 position:absolute;
 top: 101px;
 right: 20px;
 left:  250px;
}

.star_2 .checked {
 color:rgb(119, 67, 95); 
}

.star_2 .unchecked {
 color: white;;
}


.content_2 .voters_2 {
  color: white;
  position: absolute;
  top: 103px;
  right: 300px;
  left:340px;
  font-size: smaller;
}



.content_2 .para_2 {
  text-align: justify;
  position: absolute;
  top: 131px;
  right: 81px;
  left: 240px;
  color: white;
  margin-left: 10px;
  display: block;
  font-size:16px;
}

.button3 {
  left:270px;
}


/*-----------card_3------------*/

.content_3  .hed_3 {
  color: white;
  text-align: -webkit-center;
  position: absolute;
  top: 20px;
  left: 164px;
  right: -184px;
  display: inline-block;
  margin-left: 35px;
 }

 .content_3 .author_3 {
  color: white;
  text-align: center;
  position: absolute;
  top: 75px;
  left: -138px;
  right: 10px;
  font-size: 15px;
  margin-left:360px;
 }

 .star_3 {
  position:absolute;
  top: 101px;
  right: 20px;
  left:  250px;
 }
 
 .star_3 .checked {
  color:rgb(37, 129, 172); 
 }
 
 .star_3 .unchecked {
  color: white;;
 }



  .content_3 .voters_3 {
    color: white;
    position: absolute;
    top: 100px;
    right: 300px;
    left: 350px;
    font-size: smaller;
}

.content_3 .para_2 {
  text-align: justify;
  position: absolute;
  top: 140px;
  right: -97px;
  left: 10px;
  color: white;
  font-size:16px;
  margin-left: 233px;
}

.button4 {
margin-top:8px;
}


.book_3{
  width:60%;
  height:45%;
  background-color:rgb(115, 197, 235);
}

.book_3 .avatar_3 {
  width: 95%;
  height: 100%;
  box-shadow: 0 0px 0 rgba(0, 0, 0, 0.2), 0 6px 56px 0 rgba(0, 0, 0, 0.9);
  position: relative;
  top: 40px;
}


/* ----Navbar ---*/


.topnav_2 {
  overflow: visible;
  background-color: #F2F5F7;
  margin-top:70px;
  
}

.topnav_2 a {
  float: right;
  display: block;
  color: rgb(71, 71, 71);
  text-align: center;
  padding: 20px 16px;
  text-decoration: none;
  font-size: 17px;
 	
}


.text {
float:left;
padding-left:15px;
padding-top:20px;
font-size:20px;

}

.topnav_2 a::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: rgb(89, 173, 212);
  transition: width .3s;
}

.topnav_2 a:hover::after {
  width: 100%;
  transition: width .3s;
}

.hr {
  position:absolute;
  margin-top:65px;
  border: 0;
  border-top: 2px solid #d4d3d3;
  opacity:2px;
}


/*------------author list --------------*/


.authorli .text {
  padding-top:90px;
  text-align:center;
  }

  .author_list {
    display:block;
    padding-top:25px;
  }

  .profile_1 {
    display: inline-block;
    padding: 25px 0px;
    height: 50px;
    font-size: 16px;
    border-radius: 50px;
    background-color: #F2F5F7;
    width: 70%;
    margin-top: 25px;
    cursor:pointer;
  
  }

  .profile_1 img  {
    float:left;
    margin: -24px 10px 0 -2px;
    height:50px;
    width:50px;
    border-radius:50%;
    cursor:pointer;
  }

  .profile_1 b {
    margin-left: 5px;
    margin-bottom: 120px;
    position: relative;
    bottom: 8px;
    text-decoration:none;
    cursor: pointer;
}

.profile_1 a,b:active,:visited {
  color:black;
  
  }
  

/*----------------------------------------------------*/
  
  

.profile_2 {
  display: inline-block;
  padding: 25px 0px;
  height: 50px;
  font-size: 16px;
  border-radius: 50px;
  background-color: #F2F5F7;
  width: 70%;
  margin-top: 25px;
  cursor:pointer;
  
}

.profile_2 img  {
  float:left;
  margin: -24px 10px 0 -2px;
  height:50px;
  width:50px;
  border-radius:50%;
  cursor:pointer;
}

.profile_2 b {
  margin-left: 5px;
  margin-bottom: 120px;
  position: relative;
  bottom: 8px;
  text-decoration:none;
  cursor: pointer;
}

.profile_2 a,b:active,:visited {
color:black;

}



/*-----------------------------------------*/



.profile_3 {
  display: inline-block;
  padding: 25px 0px;
  height: 50px;
  font-size: 16px;
  border-radius: 50px;
  background-color: #F2F5F7;
  width: 70%;
  margin-top: 25px;
  cursor:pointer;
  
}

.profile_3 img  {
  float:left;
  margin: -24px 10px 0 -2px;
  height:50px;
  width:50px;
  border-radius:50%;
  cursor:pointer;

}

.profile_3 b {
  margin-left: 5px;
  margin-bottom: 44px;
  position: relative;
  bottom: 10px;
  text-decoration:none;
  cursor: pointer;
}

.profile_3 a,b:active,:visited {
color:black;

}




/*----------------------------------------*/


.profile_4 {
  display: inline-block;
  padding: 25px 0px;
  height: 50px;
  font-size: 16px;
  border-radius: 50px;
  background-color: #F2F5F7;
  width: 70%;
  margin-top: 25px;
  cursor:pointer;
  
}

.profile_4 img  {
  float:left;
  margin: -24px 10px 0 -2px;
  height:50px;
  width:50px;
  border-radius:50%;
  cursor:pointer;
}

.profile_4 b {
  margin-left: 5px;
  margin-bottom: 44px;
  position: relative;
  bottom: 10px;
  text-decoration:none;
  cursor: pointer;
}

.profile_4 a,b:active,:visited {
color:black;

}


/*------------------------------------------------------------------*/


.profile_5 {
  display: inline-block;
  padding: 25px 0px;
  height: 50px;
  font-size: 16px;
  border-radius: 50px;
  background-color: #F2F5F7;
  width: 70%;
  margin-top: 25px;
  cursor:pointer;
  
}

.profile_5 img  {
  float:left;
  margin: -24px 10px 0 -2px;
  height:50px;
  width:50px;
  border-radius:50%;
  cursor:pointer;
}

.profile_5 b {
  margin-left: 5px;
  margin-bottom: 44px;
  position: relative;
  bottom: 10px;
  text-decoration:none;
  cursor: pointer;
}

.profile_5 a,b:active,:visited {
color:black;

}


/*-------------------------------------------------*/
/*-------------------------------------------------*/


.text_2 {
  padding-top:60px;
  padding-left:16px;
  font-size:24px;
  
}



/*-----------------------story_1--------------------------*/


.story_1 {
  display: inline-block;
  padding: 25px 0px;
  height: 120px;
  font-size: 16px;
  background-color:#F2F5F7;
  width: 70%;
  margin-top: 25px;
  cursor:pointer;
  border-radius: 2px;
}

.story_1 img  {
  float:left;
  margin: -24px 10px 0 -2px;
  height:120px;
  width:100px;
  cursor:pointer;
  box-shadow:2px 4px 5px black;

}


.story_1 b {
  margin-left: 5px;
  margin-bottom: 44px;
  position: relative;
  bottom: 10px;
  text-decoration:none;
  cursor: pointer;
}


.story_1 a,b:active,:visited {
  color:black;
  
  }


/*------------story_2------------*/


.story_2 {
  display: inline-block;
  padding: 25px 0px;
  height: 120px;
  font-size: 16px;
  background-color:#F2F5F7;
  width: 70%;
  margin-top: 25px;
  cursor:pointer;
  border-radius: 2px;
}

.story_2 img  {
  float:left;
  margin: -24px 10px 0 -2px;
  height:120px;
  width:100px;
  cursor:pointer;
  box-shadow:2px 4px 5px black;

}


.story_2 b {
  margin-left: 5px;
  margin-bottom: 44px;
  position: relative;
  bottom: 10px;
  text-decoration:none;
  cursor: pointer;
}


.story_2 a,b:active,:visited {
  color:black;
  
  }



/*---------------story_3-----------------*/


.story_3 {
  display: inline-block;
  padding: 25px 0px;
  height: 120px;
  font-size: 16px;
  background-color:#F2F5F7;
  width: 70%;
  margin-top: 25px;
  cursor:pointer;
  border-radius: 2px;
}

.story_3 img  {
  float:left;
  margin: -24px 10px 0 -2px;
  height:120px;
  width:100px;
  cursor:pointer;
  box-shadow:2px 4px 5px black;

}


.story_3 b {
  margin-left: 5px;
  margin-bottom: 44px;
  position: relative;
  bottom: 10px;
  text-decoration:none;
  cursor: pointer;
}


.story_3 a,b:active,:visited {
  color:black;
  
  }


  /*------story_4-----*/


  .story_4 {
    display: inline-block;
    padding: 25px 0px;
    height: 120px;
    font-size: 16px;
    background-color:#F2F5F7;
    width: 70%;
    margin-top: 25px;
    cursor:pointer;
    border-radius: 2px;
  }
  
  .story_4 img  {
    float:left;
    margin: -24px 10px 0 -2px;
    height:120px;
    width:100px;
    cursor:pointer;
    box-shadow:2px 4px 5px black;
  
  }
  
  
  .story_4 b {
    margin-left: 5px;
    margin-bottom: 44px;
    position: relative;
    bottom: 10px;
    text-decoration:none;
    cursor: pointer;
  }
  
  
  .story_4 a,b:active,:visited {
    color:black;
    
    }
  
  
 
    

 /*------story_5-----*/



 .story_5 {
  display: inline-block;
  padding: 25px 0px;
  height: 120px;
  font-size: 16px;
  background-color:#F2F5F7;
  width: 70%;
  margin-top: 25px;
  cursor:pointer;
  border-radius: 2px;
}

.story_5 img  {
  float:left;
  margin: -24px 10px 0 -2px;
  height:120px;
  width:100px;
  cursor:pointer;
  box-shadow:2px 4px 5px black;

}


.story_5 b {
  margin-left: 5px;
  margin-bottom: 44px;
  position: relative;
  bottom: 10px;
  text-decoration:none;
  cursor: pointer;
}


.story_5 a,b:active,:visited {
  color:black;
  
  }



  /*-------card_row_1-------*/
  .cards{
    display:inline-block;
    margin-top:80px;
  
    }
  
    .card1{
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      max-width:45%;
      border-radius:5px;
    }
  
    .img_1{
      margin-top:-44px;
      margin-bottom:35px;
      cursor: pointer;
    }
  
    .hed__1{
      margin-left:-55px; 
      font-size:35px;
      cursor: pointer;
    }
    .details .ay{
      margin-left:-55px;
      margin-top:-27px;
    }
  
    .star_4{
      margin-left:-55px;
    
    }
    .star_4 .vot{
      display: inline-block;
      padding-left: 10px;
    }
    
  
    .star_4 .checked {
      color:rgb(255, 218, 6); ;
    }
    
    .star_4 .unchecked {
      color: rgb(223, 223, 223);;
    }
  
  
    .card1 .footer hr{
      position:relative;
      top:-25px;
    }
  
    .test:after {
      content: '\2807';
      font-size: 30px;
      position:absolute;
      left:240px;
      top:-3px;
      cursor:pointer;
      }
  
  
      
  /*------card2------*/
  
  
  .card2{
    margin-left:50px;
  }
  
  .footer img{
    display: inline-block;
    border-radius:50%;
    height:36px;
    width:44px;
    margin-top: -50px;
    
  
  }
  
  .card2 .footer hr{
    position:relative;
    top:-25px;
  }
  
  .footer p 
  {
    display:inline-block;
    position:relative;
    top:-27px;
    left:25px;
    font-size:18px;
  }
  /*-----------------row_2-----*/ 
  
  
  .card_2{
    position: relative;
    top:60px;
  }
  
  
  .card_3{
    position: relative;
    top:100px;
    margin-top:25px;
  }
  
  
  /*---------------------------------------------------------*/
  .card_4{
    position: relative;
    top:100px;
    margin-top:60px;
  }
  


/*---------------------------------------------------------------------------------------------------------------------------------------*/

/*---------------------------------------------------------------------------------------------------------------------------------------*/

/*---------------------------------------------------------------------------------------------------------------------------------------*/



  /* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
  @media only screen and (max-width: 800px) {

    body {
      margin:0;
      font-family:Aria;
      background-color:#F2F5F7;
      overflow-x:hidden;
    }
  
 

  
    /* -------menu button--------  */
     .menu-btn .btn {
      background-color: white;
      border: none;
      color: rgb(230, 232, 235);
      padding: 12px 16px;
      font-size: 30px;
      cursor: pointer;
      border-radius: 5px;
      outline: white;
      float: right;
      margin-top: -55px;
      margin-right: 1px;
    }
  
    .btn a:visited ,a:hover ,a:active ,a:link{
      text-decoration:none;
      color:rgb(121, 123, 124);
    }
  
  
  /* Darker background on mouse over */
   .btn:hover {
      background-color: rgb(222, 223, 224)
   }
  
   .btn:active {
      background-color: white;
      box-shadow: 0 3px #666;
      transform: translatey(4px);
   }
  
   
 
  
  
  
  
  
   /*------card_1-------*/


   .class1{
     visibility:hidden;
   }
  
   
  /*----------------- card_2 ----------*/
  
  .book_2 .avatar_2 {
    width: 50%;
    height: 100%;
    box-shadow: 0 0px 0 rgba(0, 0, 0, 0.2), 0 6px 56px 0 rgba(0, 0, 0, 0.9);
    position: relative;
    top: 40px;
  }
  
  
  .book_2 {
    width:60%;
    height:45%;
    background-color:#EDB9D6;
  }
  
  
  .content_2  .hed_2 {
    color:white;
    text-align:center;
    position: absolute;
    top:20px;
    left: 143px;
    right: 20px;
    display:inline-block;
   }

   .content_2{
     width:100%;
     position: absolute;
     top: 64px;
     max-height: 350px;

   }
  
  
   .content_2 .author_2 {
    color: white;
    text-align: center;
    position: absolute;
    top: 75px;
    left: -138px;
    right: 20px;
    font-size: 15px;
   }
  
  
   .star_2 {
   position:absolute;
   top: 101px;
   right: 20px;
   left:  250px;
  }
  
  
  
  .content_2 .voters_2 {
    color: white;
    position: absolute;
    top: 103px;
    right: 300px;
    left:340px;
    font-size: smaller;
  }
  
  
  
  .content_2 .para_2 {
    text-align: justify;
    position: absolute;
    top: 131px;
    right: 81px;
    left: 240px;
    color: white;
    margin-left: 10px;
    display: block;
    font-size:16px;
  }
  
  .button3 {
    left:270px;
  }
  
  
  /*-----------card_3------------*/
  
 


   .content_3{
     visibility: hidden;
   }
  
  
  
  /* ----Navbar ---*/
  .colomun{
    margin-left: -100px;
    position: absolute;
    left: 97px;
    width: 100%;
    margin-top: -5px;
    top: auto;
}
  
  .topnav_2 {
    overflow: visible;
    background-color: #F2F5F7;
    margin-top:70px;
    
  }
  
  .topnav_2 a {
    float: right;
    display: block;
    color: rgb(71, 71, 71);
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
    font-size: 17px;
     
  }
  
  
  .text {
  float:left;
  padding-left:15px;
  padding-top:20px;
  font-size:20px;
  
  }
  
  .topnav_2 a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: rgb(89, 173, 212);
    transition: width .3s;
  }
  
  .topnav_2 a:hover::after {
    width: 100%;
    transition: width .3s;
  }
  
  .hr {
    position:absolute;
    margin-top:65px;
    border: 0;
    border-top: 2px solid #d4d3d3;
    opacity:2px;
  }
  
  
  /*------------author list --------------*/
  
  .authorli{
    visibility: hidden;
  }
  
  

  
  
  .text_2 {
    padding-top:60px;
    padding-left:16px;
    font-size:24px;
    
  }
  
  

  
    /*-------card_row_1-------*/

    .img2{
      height: 35%;
      width: 80%;
    }

    .details{
      margin-top:-25px;
      margin-left: 115px;
      height: 100%;
    }

    .cards{
      display:inline-block;
      margin-top:80px;
      margin-left:10px;
    
      }
    
      .card1{
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        max-width:45%;
        border-radius:5px;
      }
    
      .img_1{
           margin-top: -44px;
          margin-bottom: 35px;
          cursor: pointer;
           width: auto;
           margin-left: 54px;
      }
    
      .hed__1{
        margin-left:-55px; 
        font-size:35px;
        cursor: pointer;
      }
      .details .ay{
        margin-left:-55px;
        margin-top:-27px;
      }
    
      .star_4{
        margin-left:-55px;
      
      }
      .star_4 p{
        text-align: justify;
      }
      .star_4 .vot{
        display: inline-block;
        padding-left: 10px;
      }
      
    
      .star_4 .checked {
        color:rgb(255, 218, 6); ;
      }
      
      .star_4 .unchecked {
        color: rgb(223, 223, 223);;
      }
    
    
      .card1 .footer hr{
        position:relative;
        top:-25px;
      }
    
      .test:after {
        content: '\2807';
        font-size: 30px;
        position:absolute;
        left:200px;
        top:-220px;
        cursor:pointer;
        }
    
    
        
    /*------card2------*/
    
    
    .card2{
      margin-left:50px;
    }
    
    .footer img{
      display: inline-block;
      border-radius:50%;
      height:36px;
      width:44px;
      margin-top: -50px;
      
    
    }
    
    .card2 .footer hr{
      position:relative;
      top:-25px;
    }
    
    .footer p 
    {
      display:inline-block;
      position:relative;
      top: -14px;
      left: 4px;
      font-size:18px;
    }
    /*-----------------row_2-----*/ 
    
    
    .card_2{
      position: relative;
      top:60px;
    }
    
    
    .card_3{
      position: relative;
      top:100px;
      margin-top:25px;
    }
    
    
    /*---------------------------------------------------------*/
    .card_4{
      position: relative;
      top:100px;
      margin-top:60px;
    }

  }





  /*----------------------------------------------------------------------------------------------------*/
  /*----------------------------------------------------------------------------------------------------*/
  /*----------------------------------------------------------------------------------------------------*/
  /*----------------------------------------------------------------------------------------------------*/

  @media  only screen and (max-width: 420px){
    body {
      margin:0;
      font-family:Aria;
      background-color:#F2F5F7;
      
    
    }
  
    .dropdown, .btn {
      display: none;
    }

  
    /* -------menu button--------  */
     .menu-btn .btn {
      background-color: white;
      border: none;
      color: rgb(230, 232, 235);
      padding: 12px 16px;
      font-size: 30px;
      cursor: pointer;
      border-radius: 5px;
      outline: white;
      float: right;
      margin-top: -55px;
      margin-right: 1px;
    }
  
    .btn a:visited ,a:hover ,a:active ,a:link{
      text-decoration:none;
      color:rgb(121, 123, 124);
    }
  
  
  /* Darker background on mouse over */
   .btn:hover {
      background-color: rgb(222, 223, 224)
   }
  
   .btn:active {
      background-color: white;
      box-shadow: 0 3px #666;
      transform: translatey(4px);
   }
  
   input[type=text] {
    width: 150px;
    box-sizing: border-box;
    border: 2px solid white;
    border-radius: 20px;
    font-size: 16px;
    background-color: white;
    background-image: url('images/searchicon.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    outline:none;
    margin: 2px 18px 0px 20px;
    visibility:hidden;

  }
  
  

  .avatar ,.badge{
    visibility:hidden;
  }


  
  
  
   /*------card_1-------*/


   .class1{
     visibility:hidden;
   }
  
   
  /*----------------- card_2 ----------*/
  
  .book_2 .avatar_2 {
    width: auto;

    box-shadow: 0 0px 0 rgba(0, 0, 0, 0.2), 0 6px 56px 0 rgba(0, 0, 0, 0.9);
    position: relative;
    top: 40px;
  }
  
  
  .book_2 {
    width:60%;
    height:45%;
    background-color:#EDB9D6;

  }
  
  
  .content_2  .hed_2  h2{
    color: white;
    position: absolute;
    top: -18px;
    left: 39px;
    right: 25px;
    font-size: 20px;
    display: inline-table;
   }

   .content_2{
    width: 94%;
    position: absolute;
    top: 60px;
    max-height: 350px;
    padding-bottom: 65px;
    border-radius: 5px;
    margin-left: 18px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    margin-top:10px;
  
    }
  
  
   .content_2 .author_2 {
    color: white;
    text-align: center;
    position: absolute;
    top: 66px;
    left: 170px;
    right: 20px;
    font-size: 15px;
   }
  
  
   .star_2 {
    position: absolute;
    top: 87px;
    right: 12px;
    left: 214px;
  }
  
  
  
  .content_2 .voters_2 {
    color: white;
    position: absolute;
    top: 89px;
    right: 305px;
    left: 294px;
    font-size: smaller;
    display: inline-table;
  }
  
  
  
  .content_2 .para_2 {
    text-align: justify;
    position: absolute;
    top: 106px;
    right: 12px;
    left: 149px;
    color: white;
    margin-left: 65px;
    display: block;
    font-size: 11px;
  }
  
  .button3 {
    left: 216px;
    top: 286px;
    height: 42px;
    width: 159px;
    padding-top: 11px;
  }
  
  
  /*-----------card_3------------*/
  
 


   .content_3{
     visibility: hidden;
   }
  
  
  
  /* ----Navbar ---*/
  .colomun{
    margin-left: -100px;
    position: absolute;
    left: 97px;
    width: 100%;
    margin-top: -5px;
    top: auto;
    
}
  
  .topnav_2 {
    overflow: visible;
    background-color: #F2F5F7;
    margin-top:70px;
    visibility: hidden;
  }
  
  .topnav_2 a {
    float: right;
    display: block;
    color: rgb(71, 71, 71);
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
    font-size: 17px;
     
  }
  
  
  .text {
  float:left;
  padding-left:15px;
  padding-top:20px;
  font-size:20px;
  
  }
  
  .topnav_2 a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: rgb(89, 173, 212);
    transition: width .3s;
  }
  
  .topnav_2 a:hover::after {
    width: 100%;
    transition: width .3s;
  }
  
  .hr {
    position:absolute;
    margin-top:65px;
    border: 0;
    border-top: 2px solid #d4d3d3;
    opacity:2px;
  }
  
  
  /*------------author list --------------*/
  
  .authorli{
    visibility: hidden;
  }
  
  

  
  
  .text_2 {
    padding-top:60px;
    padding-left:16px;
    font-size:24px;
    
  }
  
  

  
    /*-------card_row_1-------*/

    .img2{
      height: 35%;
      width: 80%;
    }

    .details{
      margin-top:-25px;
      margin-left: 115px;
      height: 100%;
    }

    .cards{
      display: inline-block;
      margin-top: 80px;
      margin-left: 10px;
      position: absolute;
      top: -1640px;
    
    
      }
    
      .card1{
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        max-width:100%;
        border-radius:5px;
      }
    
      .img_1{
           margin-top: -44px;
          margin-bottom: 35px;
          cursor: pointer;
           width: 72%;
           margin-left: 54px;
      }
    
      .hed__1{
        margin-left:-55px; 
        font-size:35px;
        cursor: pointer;
      }
      .details .ay{
        margin-left:-55px;
        margin-top:-27px;
      }
    
      .star_4{
        margin-left:-55px;
      
      }
      .star_4 p{
        text-align: justify;
      }
      .star_4 .vot{
        display: inline-block;
        padding-left: 10px;
      }
      
    
      .star_4 .checked {
        color:rgb(255, 218, 6); ;
      }
      
      .star_4 .unchecked {
        color: rgb(223, 223, 223);;
      }
    
    
      .card1 .footer hr{
        position:relative;
        top:-25px;
      }
    
      .test:after {
        content: '\2807';
        font-size: 30px;
        position: absolute;
        left: 320px;
        top: -210px;
        cursor: pointer;
        }
    
    
        
    /*------card2------*/
    
    
    .card2{
      margin-left: 0px;
      margin-top: 72px;
    }
    
    .footer img{
      display: inline-block;
      border-radius:50%;
      height:36px;
      width:44px;
      margin-top: -50px;
      
    
    }
    
    .card2 .footer hr{
      position:relative;
      top:-25px;
    }
    
    .footer p 
    {
      display:inline-block;
      position:relative;
      top: -14px;
      left: 4px;
      font-size:18px;
    }
    /*-----------------row_2-----*/ 
    
    
    .card_2{
      position: relative;
      top:60px;
    }
    
    
    .card_3{
      position: relative;
      top:100px;
      margin-top:25px;
    }
    
    
    /*---------------------------------------------------------*/
    .card_4{
      position: relative;
      top:100px;
      margin-top:60px;
    }

  }
  

 



  

  
